---
layout: default
permalink: /
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <h2>Demo Data:</h2>

  <ul>
  {% for member in site.data.members %}
    <li>
      <a href="https://github.com/{{ member.github }}">
        {{ member.name }}
      </a>
    </li>
  {% endfor %}
  </ul>

  <h2>Demo Collection:</h2>

  {% for album in site.music %}
    <p><strong>{{ album.title }}</strong></p>
    <p>{{ album.artist }} - <a href="{{ album.url }}">{{ album.url }}</a></p>

  {% endfor %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
